body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
  display: grid;
  grid-tamplate-columns: 1fr 1fr;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.imagem {
  border-radius: 15px;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px 0px #000000;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}